@import url("https://fonts.googleapis.com/css?family=Alice|Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", serif;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
