@import url("https://fonts.googleapis.com/css?family=Alice|Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alice", serif;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.graphic {
  display: flex;
  width: 34px;
  height: 34px;
  margin-top: 15px;
  margin-right: 32px;
  cursor: pointer;
}

.logout {
  display: flex;
  justify-content: flex-end;
}
